extends layout

block content
  h1 #{project.name}
  p #{project.description}
  p Start Date: #{project.startDate.toDateString()}
  p End Date: #{project.endDate.toDateString()}
  p Status: #{project.status}
  h2 Tasks
  ul
    each task in project.tasks
      li #{task.title} - #{task.status}

  // Updated "Create Task" button
  a(href=`/tasks/create?projectId=${project._id}`).button-like Create Task
