extends layout

block content
  h1 Tasks for #{project.name}
  ul
    each task in tasks
      li
        div
          strong Title: 
          | #{task.title}
        div
          strong Description: 
          | #{task.description}
        div
          strong Priority: 
          | #{task.priority}
        div
          strong Status: 
          | #{task.status}
        div
          strong Progress: 
          | #{task.progress}%
        div
          if task.assignee
            strong Assignee: 
            | #{task.assignee.name} // Adjust based on your user model
          else
            | Assignee: Not assigned
        br
        form(action=`/tasks/${task._id}/update` method="post")
          // Add form fields for updating task details
          button Update Task
        form(action=`/tasks/${task._id}/delete` method="post")
          button Delete Task
  a(href=`/projects/${project._id}/tasks/new`) Add New Task
