extends layout

block content
  h1 #{project.name}
  p #{project.description}
  p Start Date: #{project.startDate.toDateString()}
  p End Date: #{project.endDate.toDateString()}
  p Status: #{project.status}
  h2 Tasks
  ul
    each task in project.tasks
      li #{task.name} - #{task.status}
  a(href=`/projects/${project._id}/tasks/new`) Add New Task
